# Google API
GOOGLE_API_KEY="your-google-api-key"

# Airflow Security
AIRFLOW_FERNET_KEY=generated-fernet-key                                                        # python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_WEBSERVER_SECRET_KEY=generated-secret-key                                              # python -c "import secrets; print(secrets.token_hex(32))"

# OpenSearch
OPENSEARCH_HOST=opensearch:9200
OPENSEARCH_USER=admin
OPENSEARCH_PASS=Admin@123
OPENSEARCH_INDEX_NAME=sklearn_documentation

# Langfuse
LANGFUSE_ENABLED=true
LANGFUSE_PUBLIC_KEY="your-langfuse-public-key"
LANGFUSE_SECRET_KEY="your-langfuse secret-key"
LANGFUSE_HOST=https://cloud.langfuse.com

# Scraper
SCRAPER_BASE_URL=https://scikit-learn.org/stable/
CHUNKER_OUTPUT_DIR=/opt/airflow/temp/sklearn_scraped_data


# Embedding
EMBEDDING_MODEL=models/text-embedding-004
EMBEDDING_BATCH_SIZE=100